<div class="login-message pos-relative text-center font-comfortaa">Please Login</div>

<div class="login-form-container h-w-100 i-flex align-center justify-center">
    <form class="login-form i-flex flex-column" [formGroup]="signInForm" (ngSubmit)="onAuthenticateUser()">
        <div class="field-holder">
            <label for="username" class="font-comfortaa">Username</label>
            <input type="text" class="field font-comfortaa" placeholder="john.smith" formControlName="username" maxlength="150">
        </div>
        <div class="field-holder">
            <label for="password" class="font-comfortaa">Password</label>
            <input type="password" class="field font-comfortaa" placeholder="********" formControlName="password">
        </div>
        <div class="forgot-link font-comfortaa">Forgot Password?</div>

        <button class="font-play btn btn-login pos-relative" type="submit">Login</button>
    </form>
</div>