.signup-form-container {
  position: relative;
  z-index: -1;
  left: 0;
  animation: positioning 0.1s linear;
}

@keyframes positioning {
  from {
    left: -350px;
  }

  to {
    left: 0;
  }
}

.signup-message {
  top: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #4d4d4d;
}

.signup-form {
  border: 4px solid #273c75;
  padding: 40px;
  border-radius: 4px;

  .forgot-link {
    font-size: 12px;
    text-align: end;
    margin: 0 0 20px 0;
  }

  .field-holder {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 10px 0;

    .field {
      height: 40px;
      width: 200px;
      border-radius: 3px;
      padding: 0 10px;
      border: 1px solid #273c75;
    }
  }

  .btn-signup {
    background: #fff;
    color: #4d4d4d;
    border: 2px solid #40739e;
    left: 30px;
  }

  .btn-signup:hover {
    background: #40739e;
    color: #fff;
    border: 2px solid #40739e;
  }

}
