<div class="signup-message pos-relative text-center font-comfortaa">Please Signup</div>

<div class="signup-form-container h-w-100 i-flex align-center justify-center">
    <form class="signup-form i-flex flex-column">
        <div class="field-holder">
            <label for="fullname" class="font-comfortaa">Full Name</label>
            <input type="text" class="field font-comfortaa" placeholder="John Smith">
        </div>
        <div class="field-holder">
            <label for="username" class="font-comfortaa">Username</label>
            <input type="text" class="field font-comfortaa" placeholder="john.smith">
        </div>
        <div class="field-holder">
            <label for="email" class="font-comfortaa">Email</label>
            <input type="email" class="field font-comfortaa" placeholder="john.smith@demo.com">
        </div>
        <div class="field-holder">
            <label for="phone" class="font-comfortaa">Mobile Number</label>
            <input type="number" class="field font-comfortaa" placeholder="+92345678945">
        </div>
        <div class="field-holder">
            <label for="password" class="font-comfortaa">Enter Password</label>
            <input type="password" class="field font-comfortaa" placeholder="********">
        </div>
        <div class="field-holder">
            <label for="password-2" class="font-comfortaa">Confirm Password</label>
            <input type="password" class="field font-comfortaa" placeholder="********">
        </div>

        <button class="font-play btn btn-signup pos-relative" type="submit">Signup</button>
    </form>
</div>