<div class="content flex">
    <div class="ad-area pos-relative i-flex space-between flex-column">
       
    </div>
    
    <div class="av-area flex flex-column space-between">
        <div class="nav-head w-100 i-flex align-center flex-column">
            <div class="title font-comfortaa">point of sale</div>
            <div class="divider"></div>
        </div>

        <nav class="nav-grids-av i-flex flex-row justify-center">
            <div class="grid cursor-pointer" (click)="currentGrid = 0" [ngClass]="{'active': currentGrid === 0}"></div>
            <div class="grid cursor-pointer" (click)="currentGrid = 1" [ngClass]="{'active': currentGrid === 1}"></div>
        </nav>
    </div>

    <div class="div"></div>
    <div class="authentication-area pos-relative">
        <section class="display h-100" *ngIf="currentGrid === 0; else signup_grid">
            <app-login></app-login>
        </section>

        <ng-template #signup_grid>
            <section class="display h-100">
                <app-signup></app-signup>
            </section>
        </ng-template>
    </div>
</div>