.content {
  .ad-area {
    height: 100vh;
    width: 60%;
    background: linear-gradient(#273c75, #273c75), linear-gradient(#FFFFFF00 60%, #273c75);
    background-blend-mode: multiply;
  }

  .authentication-area {
    width: 40%;
    height: 100vh;
  }
}
