.topbar {
    padding: 0 30px;
    .section {
        &.section-2 {
            height: 60%;
            .search {
                border-radius: 15px;
                border: none;
                padding: 6px 12px 6px 6px;
                outline: none;
                transition: all 0.3s linear;
                color: var(--color-selected);
                font-size: 0.9em;
                font-weight: 300;
                letter-spacing: 1.1px;
                font-family: inherit;
                
                &:focus {
                    box-shadow: 1px 1px 3px 0px #ccc;
                }
            }
    
            .search-icon {
                width: 20px;
                height: 20px;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
                fill: var(--base-color);
            }
        
        }
    
        &.section-3 {
            gap: 20px;
            .notification {
                svg {
                    height: 32px;
                    width: 32px;
                    border: 2px solid var(--base-color);
                    padding: 4px;
                    background: var(--base-color);
                    border-radius: 50%;
                    fill: #fff;
                }
            }
            .profile {
                img {
                    width: 32px;
                    height: 32px;
                    border: 2px solid var(--base-color);
                    border-radius: 50%;
                }
            }
        }
        
    }
}