.overlay {
    background-color: rgba(0,0,0,0.0798);
    position: relative;
    z-index: 10;
    pointer-events: none;
    transition: all 0.2s linear;
}

.modal {
    min-width: 250px;
    height: 150px;
    background-color: var(--base-color-white);
    color: var(--color-selected);
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    box-shadow: 1px 1px 2px 1px var(--shadow), -1px 0px 2px 1px var(--shadow);
    font-size: 1em;
    color: var(--color-selected);

    .modal-header, .modal-body, .modal-footer {
        padding: 5px;
    }
    .modal-header {
        background-color: #478e4c;
        color: #fff;
    }
    .modal-footer {
        column-gap: 10px;
        position: fixed;
        bottom: 0;

        .btn {
            min-width: 60px;
            padding: 7px 26px;
            &:hover {
                filter: brightness(0.9);
            }
        
           &.btn-yes {
            background-color: #478e4c;
            border: 1px solid #478e4c;
            color: #fff;
           }
           &.btn-no {
            background-color: var(--base-color-white);
            color: var(--color-selected);
            border: 1px solid #478e4c;
           }
        }
    }
}