
.sidebar {
    width: 100px;
    background-color: var(--base-color);
    color: var(--base-color-white);
    @media(max-width: 1100px) {
        width: 70px;
    }
}

.feed-area {
    width: calc(100% - 100px);
    @media(max-width: 1100px) {
        width: calc(100% - 70px);
    }

    .topbar {
        background-color: #e8e8e8;
        height: 4em;
    }
    .router-outlet {
        height: calc(100% - 4em);
    }
}

.confirm-box {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s linear;
}